* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-list{
    background-color: rgb(92, 179, 250);
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.titre{
    grid-column: 2 / 3;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
}

.username{
    grid-column: 3/4;
    color: black;
}

.pdp{
    grid-column: 4;
}