<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Covoit'Etud</title>
</head>
<body>
    <nav class='nav-bar'>
        <img src = "images/logoCovoit-etud.png" width="110" height="70">
        <li><a href="index.php">Accueil</a></li>
        <li><a href="rechercheTrajet.php">Rechercher un trajet</a></li>
        <li><a href="proposeTrajet.php">Proposer un trajet</a></li>
    </nav>
{% block content %}
{% endblock %}
