<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="css/styles.css" rel="stylesheet">
    <title>Covoit'Etud</title>
</head>
<body class="bg-gradient-primary">
    <nav class="navbar navbar-expand-lg navbar-light bg-header-color shadow">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <a href="index.php"><img src = "images/logoCovoit-etud.png" width="110" height="70" class = "nav-item"></a>
            <a href="index.php"><li class = "nav-item position-absolute top-50 start-50 translate-middle"><img src="images/websiteName.png" width="220" height="70"></li></a>
        </ul>
        <div class="container-fluid w-100 nav-item justify-content-md-end">
            {% if STATUS == 'connected' %}
            <p class="row me-3 mt-3">{{etudiant.prenom}}</p>
            <a href="index.php?controleur=etudiant&methode=afficher" class = "row"><img src="images/{{etudiant.photoProfil}}" width="70" height="70"></a>
            {% else %}
            <a href="connexion.php" class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0 "><p class="row me-3 mt-3">Se connecter</p></a>
            {% endif %}
        </div>
    </nav>


{% block content %}
{% endblock %}

    <footer class="navbar navbar-expand-lg navbar-light bg-header-color shadow mt-xxl">
        <div>
            <img>
            <p>Footer</p>
        </div>
    </footer>
</body>
</html>
