<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Covoit'Etud</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <img src = "images/logoCovoit-etud.png" width="110" height="70" class = "nav-item">
            <li class = "nav-item position-absolute top-50 start-50 translate-middle"><img src="images/websiteName.png" width="220" height="70"></li>
        </ul>
        <div class="container-fluid w-100 nav-item justify-content-md-end">
            <p class="row me-3 mt-3">Username</p>
            <a href="http://google.com" class = "row"><img src="images/profilePicture.jpg" width="70" height="70"></a>
        </div>
    </nav>
    
    <li><a href="index.php">Accueil</a></li>
    <li><a href="rechercheTrajet.php">Rechercher un trajet</a></li>
    <li><a href="proposeTrajet.php">Proposer un trajet</a></li>

{% block content %}
{% endblock %}
</body>
</html>
