<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="node_modules/tarteaucitronjs/tarteaucitron.js"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */
          "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
          "showDetailsOnClick": true, /* Click to expand the description */
          "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
          "alwaysNeedConsent": false, /* Ask the consent for "Privacy by design" services */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
          "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
    
          //"customCloserId": "", /* Optional a11y: Custom element ID used to open the panel */
          
          "googleConsentMode": false, /* Enable Google Consent Mode v2 for Google ads and GA4 */
          
          "partnersList": false /* Show the number of partners on the popup/middle banner */
        });
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="favicon.ico">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Covoit'Etud</title>
</head>
<body class="bg-gradient-primary d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-header-color shadow">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <a href="index.php"><img src = "images/transparent-logo.png" class = "col ms-3" width="60" height="72" class = "nav-item"></a>
            <a href="index.php"><li class = "nav-item position-absolute top-50 start-50 translate-middle"><img src="images/websiteName.png" class = "col" id = "siteNameImage" style="max-width: 220px;" height="auto"></li></a>
        </ul>
    <div class="navbar-nav ms-auto">
        {% if CLIENT is defined %}
            <a href="?controleur=trajet&methode=listerParticipations" class="nav-item me-4 mt-4">Mes participations</a>
            {% if CLIENT.numeroVoiture != Null %}
                <a href="?controleur=trajet&methode=listerMesTrajets" class="nav-item me-4 mt-4">Mes trajets</a>
            {% endif %}
            <p class="nav-item me-4 mt-4">{{ CLIENT.prenom }} {{ CLIENT.nom }}</p>
            <a href="index.php?controleur=etudiant&methode=afficher&id={{ CLIENT.numero }}" class="nav-item">
                <img src="images/{{ CLIENT.photoProfil }}" width="70" height="70" style="border-radius: 100%;">
            </a>
        {% else %}
            <a href="?controleur=connexion&methode=afficher" class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0">
                <p class="nav-item me-4 mt-4">Se connecter</p>
            </a>
        {% endif %}
    </div>
</nav>

{% block content %}
{% endblock %}
    <br>
    <footer class="bg-header-color mt-auto container-fluid text-center">
        <div class="row mt-3">
            <div class="col">
                <p>&copy; 2024 COVOIT'ETUD : <b>Tous droits réservés.</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="images/transparent-logo.png" style="height: 60px; width: 50px;" alt="logo">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <a class="link-primary link-offset-2 link-underline link-underline-opacity-0" href="credits.php">Crédits</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        tarteaucitron.user.gtagUa = 'G-0M9E76S8XJ';
        // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
        tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
    </script>
</body>
</html>
