{% extends "base_templates.html.twig" %}
{% block content %}
{% if STATUS == 'connected' %}
	{# Si l'utilisateur est déjà connecté, redirection vers la page d'accueil #}
	<script>
		window.location.href = "index.php";
	</script>
{% else %}
	{# Sinon, afficher le formulaire de connexion #}
<link rel='stylesheet' type='text/css' href='node_modules/bootstrap/dist/css/bootstrap.css'>
<div class="d-flex justify-content-center align-items-center" style="height: 600px;">
<div class="login-container align-right" style="width: 350px;">
    <h2 class="text-center">Connectez-vous</h2>
    <form ACTION='.?controleur=connexion&methode=login' METHOD='POST'>
        <div name="champSaisieMail" class="mb-3">
            <input name="login" type="username" class="form-control" placeholder="Adresse mail" required>
        </div>
        <div name="champSaisieMdp" class="mb-3">
            <input name="pwd" type="password" class="form-control" placeholder="Mot de passe" required>
        </div>
        <div class="text-center">
            <input class="btn btn-primary" TYPE='SUBMIT' VALUE='Se connecter'>
        </div>
        </br>
        <div class="text-center">
            <a href=".?controleur=inscription&methode=afficher" class="text-center">Pas de compte ? Inscrivez-vous !</a><br>
            <a href="?controleur=connexion&methode=mdpOublie" class="text-center">Mot de passe oublié</a>
        </div>

    </form>
             {% if connexionFalse is defined  %}
                <div class="alert alert-danger text-center mt-3" role="alert">
                    <p>Adresse mail ou mot de passe incorrect</p>
                </div>
            {% endif %}

    {% if reinitialisation is defined %}
        {% if reinitialisation %}
            <p class="alert-success text-center mt-2">Le mot de passe à été réinitialisé</p>
        {% else %}
            <p class="alert-danger text-center mt-2">La réinitialisation s'est mal passée</p>
        {% endif %}
    {% endif %}
</div>
</div>
<script src="scripts/scriptValidationForm.js"></script>
{% endif %}
{% endblock %}
