{% extends "base_templates.html.twig" %}
{% block content %}

    <div>
    <img src="images/assets/leaves-icon.png" width="80px" height="80px">
    <a href="https://www.flaticon.com/free-icons/leaves" title="leaves icons">Leaves icons created by yut1655 - Flaticon</a>
    </div>

{% endblock %}