{% extends "base_templates.html.twig" %}
{% block content %}

    <div class="container mt-xl-5">
        <h1><a class="link-primary link-offset-2 link-underline link-underline-opacity-0" href=".">Page principale</a></h1>
        <div class="row">

        <div class="col mt-5">
            <div class="col">
            <img src="images/assets/leaves-icon.png" width="80px" height="80px">
            </div>
            <a href="https://www.flaticon.com/free-icons/leaves" title="leaves icons">Leaves icons created by yut1655 - Flaticon</a>
        </div>

        <div class="col m-5">
            <div class="col">
            <img src="images/assets/car-icon.png" width="80px" height="80px">
            </div>
            <a href="https://www.flaticon.com/free-icons/car" title="car icons">Car icons created by Konkapp - Flaticon</a>
        </div>

        <div class="col m-5">
            <div class="col">
                <img src="images/assets/building-icon.png" width="80px" height="80px">
            </div>
            <a href="https://www.flaticon.com/free-icons/town" title="town icons">Town icons created by Zlatko Najdenovski - Flaticon</a>
        </div>

            <div class="col m-5">
                <div class="col">
                    <img src="images/assets/ecology-icon.png" alt="Image écologique" width="80px" height="80px">
                </div>
                <a href="https://www.flaticon.com/free-icons/eco-friendly" title="eco friendly icons">Eco friendly icons created by Freepik - Flaticon</a>
            </div>

        </div>
    </div>

{% endblock %}