{% extends 'base_templates.html.twig' %}
{% block content %}

    <h1>Page descriptive des badges !</h1>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for badge in listeBadges %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/{{ badge.image }}" alt="{{ badge.titre }}" style="margin:auto; padding-top:10px; padding-bottom:10px; width:40%; height:40%; max-height:168px">
                        <div class="card-body">
                            <p class="card-text">{{ badge.titre }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}