{% extends 'base_templates.html.twig' %}
{% block content %}

    <h1>Page descriptive des badges !</h1>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card bg-gradient-secondary" style="width: 250px;">
                        <div id="carouselBadgeConduteur" class="carousel carousel-catalogue slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/assets/BadgeNV1.png" class="badge-catalogue d-block w-100" alt="Badge recurent">
                                    <div class="carousel-caption">
                                        <div class="card-body">
                                            Description du badge 1
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="images/assets/BadgeNV2.png" class="badge-catalogue d-block w-100" alt="Badge avance">
                                    <div class="carousel-caption">
                                        <div class="card-body">
                                            Description du badge 2
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="images/assets/BadgeNV3.png" class="badge-catalogue d-block w-100" alt="Badge etoile">
                                    <div class="carousel-caption">
                                        <div class="card-body">
                                            Description du badge 3
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBadgeConduteur" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselBadgeConduteur" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}