{% extends "base_templates.html.twig" %}
{% block content %}

        <div class="form-container px-5">
            <form action="?controleur=trajet&methode=lister" method="post" class="input-group mt-xl px-xl" autocomplete="off">
                <input type="text" placeholder="Depart" name="depart" id="depart" class="form-control m-1 rounded" required>
                <input type="text" placeholder="Arrivee" name="arrivee" id="arrivee" class="form-control m-1 rounded" required>
                <input type="date" placeholder="Date" name="date" class="form-control m-1 rounded" required>
                <input type="number" min="1" placeholder="Nombre de passagers" name="nombre_passagers" class="form-control m-1 rounded" required>
                <input type="submit" class="m-1 btn-search rounded" value="">
            </form>
        </div>
        <main class="container-fluid mt-xxl fs-4 fw-bold lh-sm">
            {% if CONDUCTEUR == 'true' %}
                <button id="ajout" class="btn btn-primary">+</button>
            {% endif %}
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <!-- Texte à gauche sur grands écrans, au-dessus sur petits écrans -->
                    <div class="col-12 col-md-6 order-md-1 order-2">
                        <h1 class="fw-bolder fs-2 mb-3">Le saviez-vous ?</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus odio, egestas quis accumsan sed, placerat et arcu. Praesent eleifend maximus nisi, eget lacinia sem euismod et. Cras egestas sit amet turpis ut pellentesque. Fusce maximus, nisi in auctor suscipit, elit libero rutrum erat, quis porttitor risus ligula et eros. Praesent sapien enim, condimentum id pulvinar nec, porttitor ultrices turpis. Aliquam lectus ligula, lacinia efficitur luctus nec, euismod vel lectus. Vivamus nisl tellus, sagittis ac lobortis eu, mollis ac lectus. Pellentesque ullamcorper tortor sed auctor mattis. Morbi sed imperdiet nisi, quis pulvinar urna. Ut congue fermentum justo sit amet eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec eu hendrerit turpis. Nullam elit leo, finibus sit amet cursus non, sodales quis mi. Ut vel ultricies turpis, sodales egestas dui. Nulla rhoncus lectus quis nisl hendrerit, eget hendrerit ante vulputate.
                        </p>
                    </div>
                    
                    <!-- Image à droite sur grands écrans, disparaît sur petits écrans -->
                    <div class="col-12 col-md-6 order-md-2 order-1 d-none d-md-block">
                        <img src="images/image-ecologie.png" class="img-fluid square-700" alt="Image écologique" style = "margin-left: 20%;">
                    </div>
                </div>
            </div>
            </br>
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <!-- Image à gauche sur grands écrans, disparaît sur petits écrans -->
                    <div class="col-12 col-md-6 order-md-1 order-2 d-none d-md-block">
                        <img src="images/image-ecologie.png" class="img-fluid square-700" alt="Image écologique" style = "margin-right: 20%;">
                    </div>
                    
                    <!-- Titre et texte à droite sur grands écrans, au-dessus sur petits écrans -->
                    <div class="col-12 col-md-6 order-md-2 order-1">
                        <h1 class="fw-bolder fs-2 mb-3">Le saviez-vous ?</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus odio, egestas quis accumsan sed, placerat et arcu. Praesent eleifend maximus nisi, eget lacinia sem euismod et. Cras egestas sit amet turpis ut pellentesque. Fusce maximus, nisi in auctor suscipit, elit libero rutrum erat, quis porttitor risus ligula et eros. Praesent sapien enim, condimentum id pulvinar nec, porttitor ultrices turpis. Aliquam lectus ligula, lacinia efficitur luctus nec, euismod vel lectus. Vivamus nisl tellus, sagittis ac lobortis eu, mollis ac lectus. Pellentesque ullamcorper tortor sed auctor mattis. Morbi sed imperdiet nisi, quis pulvinar urna. Ut congue fermentum justo sit amet eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec eu hendrerit turpis. Nullam elit leo, finibus sit amet cursus non, sodales quis mi. Ut vel ultricies turpis, sodales egestas dui. Nulla rhoncus lectus quis nisl hendrerit, eget hendrerit ante vulputate.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    <script src="scripts/script_index.js"></script>
{% endblock %}