{% extends "base_templates.html.twig" %}
{% block content %}
    <div class="px-5">
        <form action="" method="post" class="input-group mt-5 px-5">
            <input type="text" placeholder="Depart" class="form-control m-1">
            <input type="text" placeholder="Arrivee" class="form-control m-1">
            <input type="text" placeholder="Date" class="form-control m-1">
            <input type="text" placeholder="Nombre de passagers" class="form-control m-1">
            <input type="submit" class="form-control m-1 btn-sm">
        </form>
    </div>
    <main class="container-xxl mt-xxl">
        <p class="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus odio, egestas quis accumsan sed, placerat et arcu. Praesent eleifend maximus nisi, eget lacinia sem euismod et. Cras egestas sit amet turpis ut pellentesque. Fusce maximus, nisi in auctor suscipit, elit libero rutrum erat, quis porttitor risus ligula et eros. Praesent sapien enim, condimentum id pulvinar nec, porttitor ultrices turpis. Aliquam lectus ligula, lacinia efficitur luctus nec, euismod vel lectus. Vivamus nisl tellus, sagittis ac lobortis eu, mollis ac lectus. Pellentesque ullamcorper tortor sed auctor mattis. Morbi sed imperdiet nisi, quis pulvinar urna. Ut congue fermentum justo sit amet eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec eu hendrerit turpis. Nullam elit leo, finibus sit amet cursus non, sodales quis mi. Ut vel ultricies turpis, sodales egestas dui. Nulla rhoncus lectus quis nisl hendrerit, eget hendrerit ante vulputate.
        </p>
        <img src="placeholder.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus odio, egestas quis accumsan sed, placerat et arcu. Praesent eleifend maximus nisi, eget lacinia sem euismod et. Cras egestas sit amet turpis ut pellentesque. Fusce maximus, nisi in auctor suscipit, elit libero rutrum erat, quis porttitor risus ligula et eros. Praesent sapien enim, condimentum id pulvinar nec, porttitor ultrices turpis. Aliquam lectus ligula, lacinia efficitur luctus nec, euismod vel lectus. Vivamus nisl tellus, sagittis ac lobortis eu, mollis ac lectus. Pellentesque ullamcorper tortor sed auctor mattis. Morbi sed imperdiet nisi, quis pulvinar urna. Ut congue fermentum justo sit amet eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec eu hendrerit turpis. Nullam elit leo, finibus sit amet cursus non, sodales quis mi. Ut vel ultricies turpis, sodales egestas dui. Nulla rhoncus lectus quis nisl hendrerit, eget hendrerit ante vulputate.
        </p>
        <img src="placeholder.png">
    </main>
{% endblock %}