{% extends "base_templates.html.twig" %}
{% block content %}
    <div class="px-5">
        <form action="" method="post" class="input-group mt-5 px-5">
            <input type="text" placeholder="Depart" class="form-control m-1">
            <input type="text" placeholder="Arrivee" class="form-control m-1">
            <input type="text" placeholder="Date" class="form-control m-1">
            <input type="text" placeholder="Nombre de passagers" class="form-control m-1">
            <input type="submit" class="form-control m-1 btn-sm">
        </form>
    </div>
{% endblock %}
