{% extends "base_templates.html.twig" %}
{% block content %}

<link rel='stylesheet' type='text/css' href='node_modules/bootstrap/dist/css/bootstrap.css'>
    
<div class="d-flex justify-content-center align-items-center" style="height: 600px">
<div class="login-container align-right" style="width: 350px;">
    <h2 class="text-center">Inscription</h2>
    <form ACTION='login.php' METHOD='POST'>
    <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" name="Nom" class="form-control" placeholder="Nom" required/>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" name="Prenom" class="form-control" placeholder="Prenom" required/>
                    </div>
                  </div>
                </div>
        <input name="mail" type="password" class="form-control mb-3" placeholder="Adresse mail" required>
        <input name="tel" type="password" class="form-control mb-3" placeholder="Numero de téléphone" required>
        <input name="pwd" type="password" class="form-control mb-3" placeholder="Mot de passe" required>
        
        <div class="text-center">
        <INPUT class="btn btn-primary" TYPE='SUBMIT' VALUE='Se connecter'>
        </div>
        <div class ="text-center">
            <a href="Connexion.php">Déja un compte ? Connectez-vous</a>
        </div>

    </form>
</div>
</div>








{% endblock %}