{% extends "base_templates.html.twig" %}
{% block content %}
    <div class="container">
        <h2>Abonnez vous à notre Newsletter</h2>
        <h3>pour ne rater aucune actualité</h3>
        Mon mail :
        J'accepte de recevoir vos email.
        Je confirme avoir pris connaissance de votre politique de confidentialité.
        S'abonner
        Pour plus d'informations, consultez notre Plotique de confidentialité.
    </div>
{% endblock %}
