{% extends "base_templates.html.twig" %}
{% block content %}
    {# {% for trajet in trajets %} #}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lieu de départ : </h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {# {% endfor %} #}
    <h1>Page des trajets </h1>
    <a href="index.php" class="btn btn-danger">Retour</a>
{% endblock %}
