{% extends "base_templates.html.twig" %}
{% block content %}
    <h1 class="fs-1 text-center mt-xxl">Enregistrer un trajet</h1>
    <main class="d-flex justify-content-center align-items-center container mt-5">
        <div class="login-container align-right" style="width: 350px;">
            <form action="index.php?controleur=trajet&methode=enregistrer" method="post" class="input-group">
                <div class="row">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mt-5">
                    <label>Heure de départ</label><input name="heureDep" type="time" class="form-control">
                    <label>Heure d'arrivée</label><input name="heureArr" type="time" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mt-5">
                    <label>Prix</label><input name="prix" type="number" class="form-control">
                    <label>Nombre de places</label><input name="nbPlace" type="number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                    <input type="Submit" value="Enregistrer le trajet" class="btn btn-primary mt-5">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
